*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
 
html{
    font-size: 62.5%;
}


body{
    font-family: 'Nunito', sans-serif;
    background-color: #eff1f7;
}

.content {
    grid-area: content;
    background-color: hsl(30, 14%, 89%);
    

}

.sidebar{
    grid-area: sidebar;
    background: rgb(36,133,200);
    background: linear-gradient(270deg, rgba(36,133,200,1) 6%, rgba(86,59,224,1) 24%, rgba(243,18,236,1) 100%);
}

.footer {
    grid-area: footer;
    background-color: white;
}

.container {
    font-size: 1.5rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sidebar"
    "content"
    "footer";
    grid-template-rows: 13em  80em 25em;

}
 ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    text-align: center;

}
 ul li {
    list-style: none;
    text-decoration: none;
    padding: 3em 1em ;
     
}

 li a {
     text-decoration: none;
    color: white;
    font-weight: 700;
    opacity: 0.6;
    transition: 0.3s ;
}
  a:hover{
    opacity: 1;
}
.hero{
    max-width: 96em;
    text-align: center;
    margin: 0 auto;
}
.hero img {
    width: 20em;
}
.hero{
    h1 {
        font-size: 2em;
        font-weight: 300;
         color: #373d47;
    }

    p{
        font-weight: 300;
        line-height: 2em;
        color: #98a0ad;
        padding: 1em;
    }
    
    .hire-btn{
        text-decoration: none;
        display: inline-block;
        color: white;
        font-weight: 700;
        background: #867bfb;
        padding: 1em 2em;
        border-radius: 4em;
        margin: 1em 0;
        transition: 0.3s;

        &:hover{
            box-shadow: 0 10px 50px rgba(188,197,216,1);
        }
    }


    
}

.footer{
    ul {
        max-width: 64em;
        margin: 2em auto;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: row;

        li {
            list-style: none;
            align-self: flex-end;

            a{
                text-decoration: none;
                color: #c1c6ce;
            }
        }
    }

    .icon {
        width: 8em;
    }

    

    
}

@media only screen and (min-width:990px){
    .container {
        grid-template-areas: 
        "sidebar content"
        "sidebar  footer";
        grid-template-columns: 30em 1fr;
        grid-template-rows: 1fr auto;

    }
    nav{
        ul{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

    }
    .sidebar{
         padding-top: 3em;
    }

    .hero{
        text-align: left;
        margin: 2em auto;
      }
    
      .hero img{
        width: 25em;
        float: right;
      }
    
      .herio h1 {
        font-size: 4em;
      }
}
